@using Microsoft.AspNetCore.Identity;
@inject SignInManager<User> signInManager;

<ul class="navbar-nav">
    @if (signInManager.IsSignedIn(User))
    {
        <li>@User.Identity!.Name</li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
</ul>