
<div class="main">
    <div class="content">
        <h2 style="color:grey;margin:20px 0px">Palliative Performance Scale (PPS) and Hospice</h2>
        <span class="fst-italic" style="margin:10px 0">By <span style="color:darkblue">Eric Shaban, MD, Regional Medical Director, VITAS Healthcare</span></span>
        <p style="margin-top:20px;line-height:30px;color:black">
            The Palliative Performance Scale (PPS)1 can inform decisions about a patient’s hospice eligibility by helping clinicians recognize a patient's functional decline.

            For oncology patients, a PPS score of 70% or below may indicate hospice eligibility.

            For most other disease types, a patient with a PPS score of 50% or below may be hospice-eligible. A general way to determine this is to ask yourself: “Does the patient with advanced illness spend more than 50% of their waking hours resting (sitting and lying)?”
        </p>
        <span class="fst-italic" style="font-size:12px;color:black">Please note that this calculator is an approximation of PPS and does not substitute clinical judgment.</span>
        <div class="content-min" style="color:black">
            <h4>Palliative Performance Scale</h4>
            <h6 style="color:dimgrey;margin-bottom:30px;" class="text-center">Use this tool to recognize functional decline quickly and inform decisions about your patient's eligibility.</h6>
            <div class="select-menu">
                <div class="select-btn">
                    <span class="sBtn-text">Choose a Diagnosis</span>
                </div>
                <ul class="options">
                    <li class="option">
                        <div class="circle" style="background-color:blue"></div>
                        <div class="text">ALS</div>
                    </li>
                    <li class="option">
                        <div class="circle" style="background-color:aquamarine"></div>
                        <div class="text">Alzheimer's</div>
                    </li>
                    <li class="option">
                        <div class="circle" style="background-color:lightseagreen"></div>
                        <div class="text">Cancer</div>
                    </li>
                    <li class="option">
                        <div class="circle" style="background-color:darkred"></div>
                        <div class="text">Heart Disease</div>
                    </li>
                    <li class="option">
                        <div class="circle" style="background-color:red"></div>
                        <div class="text">HIV and AIDS</div>
                    </li>
                    <li class="option">
                        <div class="circle" style="background-color:gold"></div>
                        <div class="text">Liver Disease</div>
                    </li>
                    <li class="option">
                        <div class="circle" style="background-color:lightcoral"></div>
                        <div class="text">Lung Disease</div>
                    </li>
                    <li class="option">
                        <div class="circle" style="background-color:lightblue"></div>
                        <div class="text">Renal Disease</div>
                    </li>
                    <li class="option">
                        <div class="circle" style="background-color:pink"></div>
                        <div class="text">Sepsis</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="slider-wrapper">
            <div class="slider-container">
                <h5>Ambulation</h5>
                <p>Slide to see PPS Rating</p>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-10">
                        <div class="slider" data-slider data-initial-start="0" data-step="10">
                            <span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutput1"></span>
                            <span class="slider-fill" data-slider-fill></span>
                        </div>
                    </div>
                    <div class="cell small-2">
                        <input type="number" id="sliderOutput1">
                    </div>
                </div>
            </div>
            <div class="slider-container">
                <h5>Activity</h5>
                <p>Slide to see PPS Rating</p>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-10">
                        <div class="slider" data-slider data-initial-start="0" data-step="10">
                            <span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutput2"></span>
                            <span class="slider-fill" data-slider-fill></span>
                        </div>
                    </div>
                    <div class="cell small-2">
                        <input type="number" id="sliderOutput2">
                    </div>
                </div>
            </div>
            <div class="slider-container">
                <h5>Evidence of Disease</h5>
                <p>Slide to see PPS Rating</p>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-10">
                        <div class="slider" data-slider data-initial-start="0" data-step="10">
                            <span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutput3"></span>
                            <span class="slider-fill" data-slider-fill></span>
                        </div>
                    </div>
                    <div class="cell small-2">
                        <input type="number" id="sliderOutput3">
                    </div>
                </div>
            </div>
            <div class="slider-container">
                <h5>Self Care</h5>
                <p>Slide to see PPS Rating</p>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-10">
                        <div class="slider" data-slider data-initial-start="0" data-step="10">
                            <span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutput4"></span>
                            <span class="slider-fill" data-slider-fill></span>
                        </div>
                    </div>
                    <div class="cell small-2">
                        <input type="number" id="sliderOutput4">
                    </div>
                </div>
            </div>
            <div class="slider-container">
                <h5>Intake</h5>
                <p>Slide to see PPS Rating</p>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-10">
                        <div class="slider" data-slider data-initial-start="0" data-step="10">
                            <span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutput5"></span>
                            <span class="slider-fill" data-slider-fill></span>
                        </div>
                    </div>
                    <div class="cell small-2">
                        <input type="number" id="sliderOutput5">
                    </div>
                </div>
            </div>
            <div class="slider-container">
                <h5>Level of Consciousness</h5>
                <p>Slide to see PPS Rating</p>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-10">
                        <div class="slider" data-slider data-initial-start="0" data-step="10">
                            <span class="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutput6"></span>
                            <span class="slider-fill" data-slider-fill></span>
                        </div>
                    </div>
                    <div class="cell small-2">
                        <input type="number" id="sliderOutput6" />
                    </div>
                </div>
                <div style="display:flex;width:100%;gap:20px;justify-content:center;align-items:center">
                    <input type="range" step="10" style="width:87%" />
                    <input type="number" style="width:13%" />
                </div>
            </div>
        </div>
        <button id="calc">Calculate</button>
        <div class="content-last">
            <p>
                VITAS also uses the PPS to assess patients’ functional status and collaboratively establish palliative care plans. We provide palliative solutions for a hospice-eligible patient’s symptoms, including pain and other physical, psychosocial and spiritual symptoms.
            </p>
            <p>
                All interventions focus on enhancing the patient's overall comfort and quality of life near the end of life.
            </p>
            <p>
                The VITAS app features an interactive PPS calculator.<span style="color:darkblue;font-weight:500;cursor:pointer"> Download now.</span>
            </p>
        </div>
    </div>
    <div class="right">
        <p>+ VITAS Advantage</p>
        <p>+ how to refer a patient to hospice</p>
        <p>+ hospice and palliative care eligibilty guideliness</p>
        <p>+ benefits of hospice and palliative care</p>
        <p>+ Education and training</p>
        <p>+ medical hospice benefit & physical billing</p>
        <p>+ partner organizations</p>
    </div>
</div>
<div class="footer">
    <span>Call Us 24/7</span>
    <span>844.204.2469</span>
    <span>Frequently Asked Questions</span>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.2.12/what-input.js" integrity="sha512-RgLFL8g2bsqb5KNaLbsJ2D+4/gVUieeMkuq0DRFQFUTe3o4kYREQoA40xNukkVon4lCVhQqK493eXIlZ7mfvPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    $(document).ready(function () {
        $(document).foundation();
    });

    console.log($("[data-slider]"));

    $("[data-slider]").on("changed.zf.slider", function (event) {
        console.log(event);
    })

    // var sliders1 = $("[data-slider]");
    // for (let i = 0;i<sliders1.length;i++){
    //     sliders1[i].addEventListener("click", () => {
    //         console.log('hehe');
    //     })
    // }



    var sliders = [].slice.call(document.querySelector('.slider-wrapper').querySelectorAll('.slider'), 0);
    var inputs = [].slice.call(document.querySelector('.slider-wrapper').getElementsByTagName('input'), 0);
    var arrayLength = sliders.length;
    for (var i = 0; i < arrayLength; i++) {
        sliders[i].setAttribute("disabled", true);
        inputs[i].setAttribute("disabled", true);
    }

    const optionMenu = document.querySelector(".select-menu"),
        selectBtn = optionMenu.querySelector(".select-btn"),
        options = optionMenu.querySelectorAll(".option"),
        sBtn_text = optionMenu.querySelector(".sBtn-text");


    selectBtn.addEventListener("click", () => optionMenu.classList.toggle("active"));
    let calcBtn = document.querySelector("#calc");
    calcBtn.setAttribute("disabled", true);

    options.forEach(option => {
        option.addEventListener("click", () => {
            let selectedOption = option.querySelector(".text").innerText;
            sBtn_text.innerText = selectedOption;
            optionMenu.classList.remove("active");
            for (var i = 0; i < arrayLength; i++) {
                // children[i].removeAttribute("disabled");
                sliders[i].removeAttribute("disabled");
                inputs[i].removeAttribute("disabled");
                calcBtn.removeAttribute("disabled");
            }
        });
    });

    //this code is responsible for getting the data from inputs of every div andmanipulating the p tag of every div on certain conditions

    let sum = 0;

    let items = [].slice.call(document.querySelector('.slider-wrapper').querySelectorAll('.slider-container'), 0);
    for (let k = 0; k < items.length; k++) {
        let text = items[k].getElementsByTagName("p");
        let inp = items[k].getElementsByTagName("input");

        // handle[0].addEventListener("change", () => {
        //     console.log(handle[0]);
        //     handle[0].innerText = inp[0].value;
        //     if (inp[0].value <= 30) {
        //         text[0].innerText = "Totally Bed Bound";
        //     }
        //     else if (inp[0].value > 30 && inp[0].value <= 40) {
        //         text[0].innerText = "Mainly in Bed";
        //     }
        //     else if (inp[0].value > 40 && inp[0].value <= 50) {
        //         text[0].innerText = "Mainly Sit/Lie";
        //     }
        //     else if (inp[0].value > 50 && inp[0].value <= 80) {
        //         text[0].innerText = "Reduced";
        //     }
        //     else if (inp[0].value > 80 && inp[0].value <= 100) {
        //         text[0].innerText = "Full";
        //     }
        //     else {
        //         text[0].innerText = "default"
        //     }
        //     sum += parseInt(inp[0].value);
        // })
        // $(document).add("changed-")
    }

    calcBtn.addEventListener("click", () => {
        console.log(sum);
    })

</script>