
<div class="main">
    <div class="reveal" id="exampleModal1" data-reveal>
        <h1></h1>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="content">
        <h2 style="color:grey;margin:20px 0px">Palliative Performance Scale (PPS) and Hospice</h2>
        <span class="fst-italic" style="margin:10px 0">By <span style="color:darkblue">Eric Shaban, MD, Regional Medical Director, VITAS Healthcare</span></span>
        <p style="margin-top:20px;line-height:30px;color:black">
            The Palliative Performance Scale (PPS) can inform decisions about a patient’s hospice eligibility by helping clinicians recognize a patient's functional decline.

            For oncology patients, a PPS score of 70% or below may indicate hospice eligibility.

            For most other disease types, a patient with a PPS score of 50% or below may be hospice-eligible. A general way to determine this is to ask yourself: “Does the patient with advanced illness spend more than 50% of their waking hours resting (sitting and lying)?”
        </p>
        <span class="fst-italic" style="font-size:12px;color:black">Please note that this calculator is an approximation of PPS and does not substitute clinical judgment.</span>
        <div class="content-min" style="color:black">
            <h4>Palliative Performance Scale</h4>
            <h6 style="color:dimgrey;margin-bottom:30px;" class="text-center">Use this tool to recognize functional decline quickly and inform decisions about your patient's eligibility.</h6>
            <div class="select-menu">
                <div class="select-btn">
                    <span class="sBtn-text">Choose a Diagnosis</span>
                </div>
                <ul class="options">
                    <li class="option">
                        <div class="circle" style="background-color:blue"></div>
                        <div class="text">ALS</div>
                    </li>
                    <li class="option">
                        <div class="circle" style="background-color:aquamarine"></div>
                        <div class="text">Alzheimer's</div>
                    </li>
                    <li class="option">
                        <div class="circle" style="background-color:lightseagreen"></div>
                        <div class="text">Cancer</div>
                    </li>
                    <li class="option">
                        <div class="circle" style="background-color:darkred"></div>
                        <div class="text">Heart Disease</div>
                    </li>
                    <li class="option">
                        <div class="circle" style="background-color:red"></div>
                        <div class="text">HIV and AIDS</div>
                    </li>
                    <li class="option">
                        <div class="circle" style="background-color:gold"></div>
                        <div class="text">Liver Disease</div>
                    </li>
                    <li class="option">
                        <div class="circle" style="background-color:lightcoral"></div>
                        <div class="text">Lung Disease</div>
                    </li>
                    <li class="option">
                        <div class="circle" style="background-color:lightblue"></div>
                        <div class="text">Renal Disease</div>
                    </li>
                    <li class="option">
                        <div class="circle" style="background-color:pink"></div>
                        <div class="text">Sepsis</div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="slider-wrapper">
            <div class="slider-container">
                <h5>Ambulation</h5>
                <p>Slide to see PPS Rating</p>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-10">
                        <div class="slider slide" data-slider data-initial-start="0" data-step="10">
                            <span class="slider-handle" id="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutput1"></span>
                            <span class="disc" id="id1"></span>
                            <span class="disc" id="id2"></span>
                            <span class="disc" id="id3"></span>
                            <span class="disc" id="id4"></span>
                            <span class="disc" id="id5"></span>
                            <span class="disc" id="id6"></span>
                            <span class="disc" id="id7"></span>
                            <span class="disc" id="id8"></span>
                            <span class="disc" id="id9"></span>
                            <span class="disc" id="id10"></span>
                            <span class="disc" id="id11"></span>
                            @* <span class="slider-fill" data-slider-fill></span> *@
                        </div>
                    </div>
                    <div class="cell small-2">
                        <input type="number" id="sliderOutput1">
                    </div>
                </div>
            </div>
            <div class="slider-container">
                <h5>Activity</h5>
                <p>Slide to see PPS Rating</p>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-10">
                        <div class="slider" data-slider data-initial-start="0" data-step="10">
                            <span class="slider-handle" id="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutput2"></span>
                            <span class="disc" id="id1"></span>
                            <span class="disc" id="id2"></span>
                            <span class="disc" id="id3"></span>
                            <span class="disc" id="id4"></span>
                            <span class="disc" id="id5"></span>
                            <span class="disc" id="id6"></span>
                            <span class="disc" id="id7"></span>
                            <span class="disc" id="id8"></span>
                            <span class="disc" id="id9"></span>
                            <span class="disc" id="id10"></span>
                            <span class="disc" id="id11"></span>
                            @* <span class="slider-fill" data-slider-fill></span> *@
                        </div>
                    </div>
                    <div class="cell small-2">
                        <input type="number" id="sliderOutput2">
                    </div>
                </div>
            </div>
            <div class="slider-container">
                <h5>Evidence of Disease</h5>
                <p>Slide to see PPS Rating</p>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-10">
                        <div class="slider" data-slider data-initial-start="0" data-step="10">
                            <span class="slider-handle" id="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutput3"></span>
                            <span class="disc" id="id1"></span>
                            <span class="disc" id="id2"></span>
                            <span class="disc" id="id3"></span>
                            <span class="disc" id="id4"></span>
                            <span class="disc" id="id5"></span>
                            <span class="disc" id="id6"></span>
                            <span class="disc" id="id7"></span>
                            <span class="disc" id="id8"></span>
                            <span class="disc" id="id9"></span>
                            <span class="disc" id="id10"></span>
                            <span class="disc" id="id11"></span>
                            @* <span class="slider-fill" data-slider-fill></span> *@
                        </div>
                    </div>
                    <div class="cell small-2">
                        <input type="number" id="sliderOutput3">
                    </div>
                </div>
            </div>
            <div class="slider-container">
                <h5>Self Care</h5>
                <p>Slide to see PPS Rating</p>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-10">
                        <div class="slider" data-slider data-initial-start="0" data-step="10">
                            <span class="slider-handle" id="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutput4"></span>
                            <span class="disc" id="id1"></span>
                            <span class="disc" id="id2"></span>
                            <span class="disc" id="id3"></span>
                            <span class="disc" id="id4"></span>
                            <span class="disc" id="id5"></span>
                            <span class="disc" id="id6"></span>
                            <span class="disc" id="id7"></span>
                            <span class="disc" id="id8"></span>
                            <span class="disc" id="id9"></span>
                            <span class="disc" id="id10"></span>
                            <span class="disc" id="id11"></span>
                            @* <span class="slider-fill" data-slider-fill></span> *@
                        </div>
                    </div>
                    <div class="cell small-2">
                        <input type="number" id="sliderOutput4">
                    </div>
                </div>
            </div>
            <div class="slider-container">
                <h5>Intake</h5>
                <p>Slide to see PPS Rating</p>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-10">
                        <div class="slider" data-slider data-initial-start="0" data-step="10">
                            <span class="slider-handle" id="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutput5"></span>
                            <span class="disc" id="id1"></span>
                            <span class="disc" id="id2"></span>
                            <span class="disc" id="id3"></span>
                            <span class="disc" id="id4"></span>
                            <span class="disc" id="id5"></span>
                            <span class="disc" id="id6"></span>
                            <span class="disc" id="id7"></span>
                            <span class="disc" id="id8"></span>
                            <span class="disc" id="id9"></span>
                            <span class="disc" id="id10"></span>
                            <span class="disc" id="id11"></span>
                            @* <span class="slider-fill" data-slider-fill></span> *@
                        </div>
                    </div>
                    <div class="cell small-2">
                        <input type="number" id="sliderOutput5">
                    </div>
                </div>
            </div>
            <div class="slider-container">
                <h5>Level of Consciousness</h5>
                <p>Slide to see PPS Rating</p>
                <div class="grid-x grid-margin-x">
                    <div class="cell small-10">
                        <div class="slider" data-slider data-initial-start="0" data-step="10">
                            <span class="slider-handle" id="slider-handle" data-slider-handle role="slider" tabindex="1" aria-controls="sliderOutput6"></span>
                            <span class="disc" id="id1"></span>
                            <span class="disc" id="id2"></span>
                            <span class="disc" id="id3"></span>
                            <span class="disc" id="id4"></span>
                            <span class="disc" id="id5"></span>
                            <span class="disc" id="id6"></span>
                            <span class="disc" id="id7"></span>
                            <span class="disc" id="id8"></span>
                            <span class="disc" id="id9"></span>
                            <span class="disc" id="id10"></span>
                            <span class="disc" id="id11"></span>
                            @* <span class="slider-fill" data-slider-fill></span>  *@
                        </div>
                    </div>
                    <div class="cell small-2">
                        <input type="number" id="sliderOutput6">
                    </div>
                </div>
            </div>
        </div>
        <button id="calc" data-open="exampleModal1">Calculate</button>
        <div class="content-last">
            <p>
                VITAS also uses the PPS to assess patients’ functional status and collaboratively establish palliative care plans. We provide palliative solutions for a hospice-eligible patient’s symptoms, including pain and other physical, psychosocial and spiritual symptoms.
            </p>
            <p>
                All interventions focus on enhancing the patient's overall comfort and quality of life near the end of life.
            </p>
            <p>
                The VITAS app features an interactive PPS calculator.<span style="color:darkblue;font-weight:500;cursor:pointer"> Download now.</span>
            </p>
        </div>
    </div>
    <div class="right">
        <p>+ VITAS Advantage</p>
        <p>+ how to refer a patient to hospice</p>
        <p>+ hospice and palliative care eligibilty guideliness</p>
        <p>+ benefits of hospice and palliative care</p>
        <p>+ Education and training</p>
        <p>+ medical hospice benefit & physical billing</p>
        <p>+ partner organizations</p>
    </div>
</div>
<div class="footer">
    <span>Call Us 24/7</span>
    <span>844.204.2469</span>
    <span>Frequently Asked Questions</span>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/js/foundation.min.js"></script>

<script>
    $(document).foundation();

    var sliders = [].slice.call(document.querySelector('.slider-wrapper').querySelectorAll('.slider'), 0);
    var arrayLength = sliders.length;
    for (var i = 0; i < arrayLength; i++) {
        sliders[i].setAttribute("disabled", true);
    }

    const optionMenu = document.querySelector(".select-menu"),
        selectBtn = optionMenu.querySelector(".select-btn"),
        options = optionMenu.querySelectorAll(".option"),
        sBtn_text = optionMenu.querySelector(".sBtn-text");


    selectBtn.addEventListener("click", () => optionMenu.classList.toggle("active"));
    let calcBtn = document.querySelector("#calc");
    calcBtn.setAttribute("disabled", true);

    options.forEach(option => {
        option.addEventListener("click", () => {
            let selectedOption = option.querySelector(".text").innerText;
            sBtn_text.innerText = selectedOption;
            optionMenu.classList.remove("active");
            for (var i = 0; i < arrayLength; i++) {
                // children[i].removeAttribute("disabled");
                sliders[i].removeAttribute("disabled");
                calcBtn.removeAttribute("disabled");
            }
        });
    });

    //this code is responsible for getting the data from inputs of every div andmanipulating the p tag of every div on certain conditions

    let sum = 0;

    let items = [].slice.call(document.querySelector('.slider-wrapper').querySelectorAll('.slider-container'), 0);
    for (let k = 0; k < items.length; k++) {
        let text = items[k].getElementsByTagName("p");
        let inp = items[k].getElementsByTagName("input");
    }

    let flag = false;
    let inps=$(".slider-container");
    for (let i = 0; i < inps.length; i++) {
        inps[i].children[2].children[1].children[0].setAttribute("disabled", true);
        let spans=inps[i].children[2].children[0].getElementsByTagName("span");
        for (let m = 1; m < spans.length-1;m++){
            spans[m].style.left = `${(9.8 * m)}%`;
        }
    }

    $("[data-slider]").on("changed.zf.slider", (event) => {
        // console.log(event.currentTarget.parentElement.getElementsByTagName("span"));
    });


    $("[data-slider]").on("moved.zf.slider", function (event) {
        var p = ($(this).parent()[0].parentElement.parentElement.getElementsByTagName("p")[0]);
        var inpVal=($(this).parent()[0].parentElement.getElementsByTagName("input")[0].value);
        if (inpVal <= 0) {
            flag = false;
        }
        else {
            flag = true;
        }
        console.log(flag);
        if (inpVal > 1 && inpVal <= 30) {
            p.innerText = "Totally Bed Bound";
        }
        else if (inpVal > 30 && inpVal <= 40) {
            p.innerText = "Mainly in bed";
        }
        else if (inpVal > 40 && inpVal <= 50) {
            p.innerText = "Mainly Sit/Lie";
        }
        else if (inpVal > 50 && inpVal <= 80) {
            p.innerText = "Reduced";
        }
        else if (inpVal > 80 && inpVal <= 100) {
            p.innerText = "Full";
        }
        else {
            p.innerText = "Slide to see PPS Rating";
        }
        sum += parseInt(inpVal);
    })


    let modal = document.querySelector("#exampleModal1");
    let h1 = modal.children[0];
    let close = modal.children[1];
    calcBtn.addEventListener("click", () => {
        if (flag == false) {
            modal.style.display = "flex";
            // modal.style.flexDirection = "column";
            modal.style.justifyContent = "center";
            modal.style.alignItems = "center";
            modal.style.color = "black";
            h1.innerText = "Please select values to see PPS Rating";
        }
        else {
            modal.style.display = "flex";
            // modal.style.flexDirection = "column";
            modal.style.justifyContent = "center";
            modal.style.alignItems = "center";
            modal.style.color = "black";
            h1.innerText = `PPS Rating : ${sum/10}`;
        }
    })

</script>