<link href="~/css/style.css" rel="stylesheet" />
<link href="~/css/style.min.css" rel="stylesheet" />
<link rel="stylesheet" href="node_modules/foundation-sites/dist/css/foundation-sites.css">
<link rel="stylesheet" href="node_modules/foundation-sites/dist/css/foundation-sites.min.css">

<div class="container">
    <h1>Frequently Asked Questions (FAQs)</h1>
    <div class="optionWrapper">
        <h4>I am</h4>
        <select class="options">
            <option value="Choose one">Choose one</option>
            <option value="A Caregiver or Loved One">A Caregiver or Loved One</option>
            <option value="A Healthcare Professional">A Healthcare Professional</option>
            <option value="A Prospective Employee">A Prospective Employee</option>
            <option value="Interested in Volunteering">Interested in Volunteering</option>
        </select>
    </div>
    <div class="main">
        <div class="accordionWrapper hide">
            <ul class="accordion" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                    <!-- Accordion tab title -->
                    <a href="#" class="accordion-title">1 is VITAS doing to make sure patients are safe if they are getting hospice care in their homes during the coronavirus outbreak?</a>
                    <span class="accordion_subtitle">We are adhering to safety guidelines from the Centers for Disease Control and Prevention (CDC), Centers for Medicare and Medicaid Services (CMS), and state/local health departments.</span>
                    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                    <div class="accordion-content" data-tab-content>
                        <p>
                            We also screen patients for risk of COVID-19 with specific guidance to decrease likelihood of exposure for patients, family, and staff.

                            VITAS team members take their temperature twice daily and monitor themselves for respiratory symptoms and are directed to seek medical attention and not work if experiencing any of these or are not feeling well.
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="accordion" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                    <!-- Accordion tab title -->
                    <a href="#" class="accordion-title">Does VITAS test for COVID-19?</a>
                    <span class="accordion_subtitle">For patients, VITAS follows the recommendations from the Centers for Disease Control and Prevention (CMS) and state/local health departments that are based upon many factors such as test availability, facility concerns, and the impact of a test result altering the care plan.</span>
                    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                    <div class="accordion-content" data-tab-content>
                        <p>
                            We also screen patients for risk of COVID-19 with specific guidance to decrease likelihood of exposure for patients, family, and staff.

                            VITAS team members take their temperature twice daily and monitor themselves for respiratory symptoms and are directed to seek medical attention and not work if experiencing any of these or are not feeling well.
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="accordion" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                    <!-- Accordion tab title -->
                    <a href="#" class="accordion-title">3 is VITAS doing to make sure patients are safe if they are getting hospice care in their homes during the coronavirus outbreak?</a>
                    <span class="accordion_subtitle">We are adhering to safety guidelines from the Centers for Disease Control and Prevention (CDC), Centers for Medicare and Medicaid Services (CMS), and state/local health departments.</span>
                    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                    <div class="accordion-content" data-tab-content>
                        <p>
                            We also screen patients for risk of COVID-19 with specific guidance to decrease likelihood of exposure for patients, family, and staff.

                            VITAS team members take their temperature twice daily and monitor themselves for respiratory symptoms and are directed to seek medical attention and not work if experiencing any of these or are not feeling well.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="accordionWrapper hide">
            <ul class="accordion" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                    <!-- Accordion tab title -->
                    <a href="#" class="accordion-title">2.1 is VITAS doing to make sure patients are safe if they are getting hospice care in their homes during the coronavirus outbreak?</a>
                    <span class="accordion_subtitle">We are adhering to safety guidelines from the Centers for Disease Control and Prevention (CDC), Centers for Medicare and Medicaid Services (CMS), and state/local health departments.</span>
                    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                    <div class="accordion-content" data-tab-content>
                        <p>
                            We also screen patients for risk of COVID-19 with specific guidance to decrease likelihood of exposure for patients, family, and staff.

                            VITAS team members take their temperature twice daily and monitor themselves for respiratory symptoms and are directed to seek medical attention and not work if experiencing any of these or are not feeling well.
                        </p>
                    </div>
                </li>
                <!-- ... -->
            </ul>
            <ul class="accordion" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                    <!-- Accordion tab title -->
                    <a href="#" class="accordion-title">2.2 is VITAS doing to make sure patients are safe if they are getting hospice care in their homes during the coronavirus outbreak?</a>
                    <span class="accordion_subtitle">We are adhering to safety guidelines from the Centers for Disease Control and Prevention (CDC), Centers for Medicare and Medicaid Services (CMS), and state/local health departments.</span>
                    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                    <div class="accordion-content" data-tab-content>
                        <p>
                            We also screen patients for risk of COVID-19 with specific guidance to decrease likelihood of exposure for patients, family, and staff.

                            VITAS team members take their temperature twice daily and monitor themselves for respiratory symptoms and are directed to seek medical attention and not work if experiencing any of these or are not feeling well.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="accordionWrapper hide">
            <ul class="accordion" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                    <!-- Accordion tab title -->
                    <a href="#" class="accordion-title">3.1 is VITAS doing to make sure patients are safe if they are getting hospice care in their homes during the coronavirus outbreak?</a>
                    <span class="accordion_subtitle">We are adhering to safety guidelines from the Centers for Disease Control and Prevention (CDC), Centers for Medicare and Medicaid Services (CMS), and state/local health departments.</span>
                    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                    <div class="accordion-content" data-tab-content>
                        <p>
                            We also screen patients for risk of COVID-19 with specific guidance to decrease likelihood of exposure for patients, family, and staff.

                            VITAS team members take their temperature twice daily and monitor themselves for respiratory symptoms and are directed to seek medical attention and not work if experiencing any of these or are not feeling well.
                        </p>
                    </div>
                </li>
                <!-- ... -->
            </ul>
            <ul class="accordion" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                    <!-- Accordion tab title -->
                    <a href="#" class="accordion-title">3.2 is VITAS doing to make sure patients are safe if they are getting hospice care in their homes during the coronavirus outbreak?</a>
                    <span class="accordion_subtitle">We are adhering to safety guidelines from the Centers for Disease Control and Prevention (CDC), Centers for Medicare and Medicaid Services (CMS), and state/local health departments.</span>
                    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                    <div class="accordion-content" data-tab-content>
                        <p>
                            We also screen patients for risk of COVID-19 with specific guidance to decrease likelihood of exposure for patients, family, and staff.

                            VITAS team members take their temperature twice daily and monitor themselves for respiratory symptoms and are directed to seek medical attention and not work if experiencing any of these or are not feeling well.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="accordionWrapper hide">
            <ul class="accordion" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                    <!-- Accordion tab title -->
                    <a href="#" class="accordion-title">4.1 is VITAS doing to make sure patients are safe if they are getting hospice care in their homes during the coronavirus outbreak?</a>
                    <span class="accordion_subtitle">We are adhering to safety guidelines from the Centers for Disease Control and Prevention (CDC), Centers for Medicare and Medicaid Services (CMS), and state/local health departments.</span>
                    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                    <div class="accordion-content" data-tab-content>
                        <p>
                            We also screen patients for risk of COVID-19 with specific guidance to decrease likelihood of exposure for patients, family, and staff.

                            VITAS team members take their temperature twice daily and monitor themselves for respiratory symptoms and are directed to seek medical attention and not work if experiencing any of these or are not feeling well.
                        </p>
                    </div>
                </li>
                <!-- ... -->
            </ul>
            <ul class="accordion" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                    <!-- Accordion tab title -->
                    <a href="#" class="accordion-title">4.2 is VITAS doing to make sure patients are safe if they are getting hospice care in their homes during the coronavirus outbreak?</a>
                    <span class="accordion_subtitle">We are adhering to safety guidelines from the Centers for Disease Control and Prevention (CDC), Centers for Medicare and Medicaid Services (CMS), and state/local health departments.</span>
                    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                    <div class="accordion-content" data-tab-content>
                        <p>
                            We also screen patients for risk of COVID-19 with specific guidance to decrease likelihood of exposure for patients, family, and staff.

                            VITAS team members take their temperature twice daily and monitor themselves for respiratory symptoms and are directed to seek medical attention and not work if experiencing any of these or are not feeling well.
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="accordion" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                    <!-- Accordion tab title -->
                    <a href="#" class="accordion-title">4.3 is VITAS doing to make sure patients are safe if they are getting hospice care in their homes during the coronavirus outbreak?</a>
                    <span class="accordion_subtitle">We are adhering to safety guidelines from the Centers for Disease Control and Prevention (CDC), Centers for Medicare and Medicaid Services (CMS), and state/local health departments.</span>
                    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                    <div class="accordion-content" data-tab-content>
                        <p>
                            We also screen patients for risk of COVID-19 with specific guidance to decrease likelihood of exposure for patients, family, and staff.

                            VITAS team members take their temperature twice daily and monitor themselves for respiratory symptoms and are directed to seek medical attention and not work if experiencing any of these or are not feeling well.
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="accordion" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                    <!-- Accordion tab title -->
                    <a href="#" class="accordion-title">4.4 is VITAS doing to make sure patients are safe if they are getting hospice care in their homes during the coronavirus outbreak?</a>
                    <span class="accordion_subtitle">We are adhering to safety guidelines from the Centers for Disease Control and Prevention (CDC), Centers for Medicare and Medicaid Services (CMS), and state/local health departments.</span>
                    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                    <div class="accordion-content" data-tab-content>
                        <p>
                            We also screen patients for risk of COVID-19 with specific guidance to decrease likelihood of exposure for patients, family, and staff.

                            VITAS team members take their temperature twice daily and monitor themselves for respiratory symptoms and are directed to seek medical attention and not work if experiencing any of these or are not feeling well.
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="accordion" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                    <!-- Accordion tab title -->
                    <a href="#" class="accordion-title">4.5 is VITAS doing to make sure patients are safe if they are getting hospice care in their homes during the coronavirus outbreak?</a>
                    <span class="accordion_subtitle">We are adhering to safety guidelines from the Centers for Disease Control and Prevention (CDC), Centers for Medicare and Medicaid Services (CMS), and state/local health departments.</span>
                    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                    <div class="accordion-content" data-tab-content>
                        <p>
                            We also screen patients for risk of COVID-19 with specific guidance to decrease likelihood of exposure for patients, family, and staff.

                            VITAS team members take their temperature twice daily and monitor themselves for respiratory symptoms and are directed to seek medical attention and not work if experiencing any of these or are not feeling well.
                        </p>
                    </div>
                </li>
            </ul>
            <ul class="accordion" data-accordion data-allow-all-closed="true">
                <li class="accordion-item" data-accordion-item>
                    <!-- Accordion tab title -->
                    <a href="#" class="accordion-title">4.6 is VITAS doing to make sure patients are safe if they are getting hospice care in their homes during the coronavirus outbreak?</a>
                    <span class="accordion_subtitle">We are adhering to safety guidelines from the Centers for Disease Control and Prevention (CDC), Centers for Medicare and Medicaid Services (CMS), and state/local health departments.</span>
                    <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                    <div class="accordion-content" data-tab-content>
                        <p>
                            We also screen patients for risk of COVID-19 with specific guidance to decrease likelihood of exposure for patients, family, and staff.

                            VITAS team members take their temperature twice daily and monitor themselves for respiratory symptoms and are directed to seek medical attention and not work if experiencing any of these or are not feeling well.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer1">
        <h2>Call Us 24/7</h2>
        <h2>98908487</h2>
        <h2>Frequently Asked Questions</h2>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.8.1/dist/js/foundation.min.js"></script>
<script>
    $(document).foundation();
    let accordionWrapper = document.querySelectorAll('.accordionWrapper');
    console.log(accordionWrapper);

    let caregiverObj=[
        {
            id:1,
            title: "What is VITAS doing to make sure patients are safe if they are getting hospice care in their homes during the coronavirus outbreak?",
            subTitle:"Lorem ipsium",
            desc:"Decsription",
        },
        {
            id: 2,
            title: "Does VITAS test for COVID-19?",
            subTitle: "Lorem ipsium",
            desc: "Decsription",
        },
        {
            id: 3,
            title: "Should hospice music therapy be private?",
            subTitle: "Lorem ipsium",
            desc: "Decsription",
        }
    ]

    $(document).ready(function () {
        $("select.options").change(function () {
            let selectedItem = $(this).children("option:selected").val();
            if (selectedItem === "Choose one") {
                accordionWrapper[0].classList.add("hide");
                accordionWrapper[1].classList.add("hide");
                accordionWrapper[2].classList.add('hide');
                accordionWrapper[3].classList.add('hide');
            }
            else if (selectedItem === "A Caregiver or Loved One") {
                accordionWrapper[0].classList.remove("hide");
                accordionWrapper[1].classList.add("hide");
                accordionWrapper[2].classList.add('hide');
                accordionWrapper[3].classList.add('hide');
            }
            else if (selectedItem === "A Healthcare Professional") {
                accordionWrapper[0].classList.add("hide");
                accordionWrapper[1].classList.remove("hide");
                accordionWrapper[2].classList.add('hide');
                accordionWrapper[3].classList.add('hide');
            }
            else if (selectedItem === "A Prospective Employee") {
                accordionWrapper[0].classList.add("hide");
                accordionWrapper[1].classList.add("hide");
                accordionWrapper[2].classList.remove('hide');
                accordionWrapper[3].classList.add('hide');
            }
            else if (selectedItem === "Interested in Volunteering") {
                accordionWrapper[0].classList.add("hide");
                accordionWrapper[1].classList.add("hide");
                accordionWrapper[2].classList.add('hide');
                accordionWrapper[3].classList.remove('hide');
            }
        });
    });
</script>
@* <script src="~/js/script.js"></script> *@