html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.main{
    /*border:1px solid red;*/
    width:100%;
    height:100%;
    display:flex;
}

.content{
    width:60%;
    padding:10px;
    color:black;
}

.content-min{
    /*border:1px solid white;*/
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:40px;
    flex-direction:column;
}

.link-cont{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    cursor:pointer;
    width:100%;
    gap:10px;
    margin:10px 0;
    padding:10px;
    /*height:100%;*/
}

.link-cont:hover{
    background-color:grey;
}

.circle{
    height:20px;
    width:20px;
    border-radius:50%;
    /*border:1px solid black;*/
    margin-left:5px;
}

.select-menu{
    width:400px;
}

.select-menu .select-btn{
    display:flex;
    height:55px;
    background-color:peachpuff;
    padding:20px;
    font-weight:400;
    border-radius:6px;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    box-shadow:0 0 5px rgba(0,0,0,0.322);
}

.select-menu .options{
    position:relative;
    padding:20px;
    border-radius:6px;
    display:none;
}

.select-menu.active .options{
    display:block;
}

.options .option {
    display: flex;
    height: 40px;
    cursor: pointer;
    align-items: center;
    padding: 20px;
    width: 100%;
    gap: 30px;
}


.options .option:hover{
    background-color:aliceblue;
}

.right{
    color:black;
}

.btn{
    padding:10px;
    background-color:orange;
    /*margin-top:1px;*/
}

.slider-wrapper{
    margin:50px 0;
}

.slider-container{
    /*border:1px solid red;*/
    margin:30px 0;
}

.slider-container>h5{
    font-weight:500;
    font-size:18px;
}

.slider-container>p{
    color:gray;
    font-size:14px;
    margin-top:-12px;
}

#calc {
    width: 100%;
    padding: 15px;
    border-radius: 6px;
    margin-top: 25px;
    background-color: #fbcc79;
    color: darkblue;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}

#calc:hover{
    background-color:darkblue;
    color:white;
    transition:all 0.3s ease-in-out;
}

.content-last{
    padding:10px;
    margin:20px 0;
}

.content-last>p{
    font-size:12px;
}

.footer {
    padding: 20px;
    width: 100%;
    background-color: #412c91;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
}

.footer>span{
    font-weight:500;
}